{% extends 'mailing/home.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <form class="row" method="post" enctype="multipart/form-data">
                  <div class="card">
                       <p class="card-text"> Are you sure to delete {{ object.name }}? </p>
                      <div class="card-body">
                        {% csrf_token%}
                      </div>
                      <button type="submit" class="btn btn-primary my-2">Delete</button>
                      <a class="btn btn-primary" href="{% url 'mailing:Mailing_list' %}" role="button">Cancel</a>
                  </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}